.imgCont {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    padding: 6em 4em;
    transition: background-color 0.5s ease;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0%;
    left: 15.25%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
    transition: 1s;
    opacity: 0.5;    
}
.prev {
    position: relative;
    width: 400px;
    height: 500px;
    background-color: gray;
    transform: rotate(10deg);
    transition: transform 0.5s ease;
}
.prev.active {
    transform: rotate(12.5deg);
}
#prev-1 {
    top: -500px;
}
#prev-2 {
    top: 0;
}
#prev-3 {
    top: 500px;
}

.par {
    position: relative;
    color: #fff;
    font-size: 30px;
    margin-bottom: 1em;
    transition: 0.5s;
    z-index: 2;
}
.title {
    color: #fff;
    opacity: 0.7;
    font-size: 80px;
    font-weight: 500;
    letter-spacing: -0.025em;
    transition: 0.5s;
}
.work-item {
    position: relative;
    width: 100%;
    padding: 2em 0;
    display: flex;
    align-items: center;
    gap: 2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    cursor: pointer;
    transition: 0.5s;
    z-index: 2;

}
.work-item#w-3 {
    border-bottom: none;
}
.work-item-icon {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #0b1925;
    color: #fff;
    overflow: hidden;
    left: -20px;
    opacity: 0;
    transition: 0.2s;
}

.icon-holder {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s
}
.i-2 {
    left: 0px
}

button {
    position: relative;
    background: #fff;
    color: #0b1925;
    border: none;
    transition: 0.5s;
    padding: 2em 4em;
    margin: 2em 0;
    font-size: 15px;
    font-weight: 500;
    border-radius: 100px;
    z-index: 2;
}

.work.hovered button {
    background: #0b1925;
    color: #fff;
}
.work.hovered h1 {
    color: #fff;
    opacity: 1;
}

.work.hovered p {
    color: #fff;
}

.work.hovered .work-item {
    border-bottom: 1px solid #0b1925;
}

.work.hovered .work-item#w-3 {
    border-bottom: none;
}

.work-item:hover .work-item-icon {
    opacity: 1;
    left: 0px;
}

.work-item:hover .icon-holder.i-1 {
    left: 0
}

.work-item:hover .icon-holder.i-1 {
    left: 70px
}

.bg-color-red {
    background-color: rgb(164, 250, 249);
}
.bg-color-blue {
    background-color: rgb(246, 250, 164);
}
.bg-color-green {
    background-color: rgb(250, 164, 164);
}

@media(max-width: 900px) {
    .work {
        padding: 4em 1em;
    }

    .work-item {
        gap: 1em;
    }

    p {
        font-size: 16px;
    }

    h1 {
        font-size: 30px;
    }

    .work-item-icon {
        transform: scale(0.75)
    }

    button {
        padding: 1em 2em;
    }

}