
.menu-bar, .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.menu-bar a,
.menu-open p {
    color: #000;
    cursor: pointer;
}

.menu-logo a {
    position: relative;
    display: inline-block;
    min-width: 150px;
}

.menu-logo a span {
    transition: opacity 0.3s ease-in-out;
    display: inline-block;
}

.menu-close p {
    color: #E2C799;
    cursor: pointer;
}

.menu-overlay {
    position: fixed;
    color: #E2C799;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 2em;
    z-index: 2;
    display: flex;
    background: #9A3B3B;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 100% 0%);
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.menu-overlay-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-close-icon {
    flex: 2;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.menu-copy {
    flex: 2;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    flex-direction: column;
    align-items: start;
    gap: 2em;
    
}

.menu-preview {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu-close-icon p {
    font-size: 120px;
    -webkit-text-stroke: 2px #C08261;
    line-height: 70%;
}


.menu-link-item {
    width: max-content;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.menu-link-item-holder {
    position: relative;
}

.menu-link-item-holder a {
    color: #E2C799;
    font-size: 90px;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 90%;
}

.menu-info {
    display: flex;
    flex: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: end;
    gap: 10px;
    color: #E2C799;
}

.menu-info-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 4;
}

@media (max-width: 900px) {
    .menu-close-icon {
        display: none;
    }
    .menu-copy {
        padding-top: 8em;
    }
    .menu-link-item-holder a {
        font-size: 60px;
    }
}