@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mitera';
  src: url('/public/fonts/MiteraRegular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;}

body {
  background-color: #0C0C0C;
  color: #fff;
  font-family: 'Mitera', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.flair {
  width: 10px;
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: #c5fb45;
  border-radius: 100%;
  transition: background-color 0.3s ease;

}