@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mitera';
  src: url('/public/fonts/MiteraRegular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Mitera', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}