@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  .imageAnim {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
    perspective: 500px;
  }
  
  .imageAnim > div {
    width: 100%;
    aspect-ratio: 3/3;
    position: relative;
    max-height: 90vh;
    margin: 20px;
    background: #fff;
    overflow: hidden;
  }
  
  .imageEffect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #000;
  }
  ::-webkit-scrollbar-thumb {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }
  
  .flair {
    width: 15px;
    height: 15px;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: #9A3B3B !important;  ;
    border-radius: 100%;
    transition: background-color 0.3s ease;
  }

  .activeh1 {
    background-color: #E2C799 !important;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    background-color: #fff;
    color: hsl(0 0% 0%);
  }

  /* ------------------------- Inputs -------------------------------------------------- */
  label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  input, textarea {
    border-radius: 0.3em;
    padding: 25px 30px 25px 10px;
    margin: 0;
    background-color: transparent;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    border: 0;
    outline: 0;
    resize: none;
    &:focus, &:active {
      outline: 0;
    }

  }

  input:focus, textarea:focus {
    outline: 0;
  }

  input:focus-visible, textarea:focus-visible {
    outline: 0;
  }

  /* ------------------------- Buttons -------------------------------------------------- */
 
 .btn-row {
  width: 100%;
  position: relative;
  display: flex;
}

#styleguide .btn-row {
  padding-top: 1em;
}

.btn {
  position: relative;
  border: 0;
  outline: 0;
}

.btn input {
  cursor: pointer;
}

.btn:last-child {
  margin-bottom: 0;
}

.btn-click {
  cursor: pointer;
  border: 0;
  background: transparent;
  border-radius: 2em;
  min-width: 1em;
  height: 2.75em;
  padding: 0;
  font-size: 1em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  will-change: transform;
  outline: 0;
  transform: translateZ(0) rotate(0.001deg);
}

.btn-click:hover {
  cursor: pointer;
}

.btn-fill {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2em;
  top: 0;
  left: 0;
  border: 1.5px solid rgba(var(--color-light-rgb), 1);
  transition: var(--animation-primary), border 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transform: translateY(0%) scale(1) rotate(0.001deg);
}

.btn-duplicate-fill {
  transform: translateY(100%) scale(0.8) rotate(0.001deg);
  background-color: var(--color-primary);
  border: 0;
}

.btn-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 1.25em;
  position: relative;
  color: var(--color-white);
  text-transform: uppercase;
  font-family: 'Neue Montreal';
  transition: all var(--animation-primary);
  transform: translateY(0%) scale(1) rotate(0.001deg);
}

.btn-duplicate-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%) scale(0.8) rotate(0.001deg);
  color: var(--color-light);
}

.btn-text span {
  position: relative;
  font-weight: 500;
  font-size: 0.9em;
  transition: color 0.2s ease-in-out;
}

/* Hover */

.btn:hover .btn-fill,
.btn.active .btn-fill {
  transform: translateY(0%) scale(0.8) rotate(0.001deg);
}

.btn:hover .btn-text,
.btn.active .btn-text {
  transform: translateY(-10%) scale(0.7) rotate(0.001deg);
  opacity: .5;
}

.btn:hover .btn-duplicate-fill,
.btn.active .btn-duplicate-fill {
  transform: translateY(0%) scale(1) rotate(0.001deg);
}

.btn:hover .btn-duplicate-text,
.btn.active .btn-duplicate-text {
  transform: translateY(0%) scale(1) rotate(0.001deg);
  opacity: 1;
}

/* Inactive */

.btn.inactive {
  cursor: not-allowed;
}

.btn.inactive .btn-click {
  pointer-events: none;
}

.btn.inactive .btn-fill {
  transform: translateY(0%) scale(1) rotate(0.001deg);
}

.btn.inactive .btn-text {
  opacity: 1;
  transform: translateY(0%) scale(1) rotate(0.001deg);
}

.btn.inactive .btn-duplicate-fill {
  transform: translateY(100%) scale(0.8) rotate(0.001deg);
}

.btn.inactive .btn-duplicate-text {
  opacity: 0;
  transform: translateY(100%) scale(0.8) rotate(0.001deg);
}

/* --- Button Negative --- */

.btn.btn-negative .btn-fill {
  border: 1.5px solid rgba(var(--color-light-rgb), 0.3);
}

.btn.btn-negative .btn-duplicate-fill {
  border: 0px;
  background-color: var(--color-primary);
}

.btn.btn-negative .btn-text {
  color: var(--color-light);
}

.btn.btn-negative .btn-duplicate-text {
  color: var(--color-dark);
}

/* --- Button Link --- */


.btn.btn-link .btn-fill {
  border: 0;
}

.btn.btn-link .btn-click {
  height: 1.75em;
}

.btn.btn-link .btn-text {
  padding: 0 0.66em;
}

.btn.btn-link .btn-duplicate-text {
  color: var(--color-dark);
}

/* --- Button Filter --- */

.btn.btn-filter .btn-click {
  height: 3.5em;
}

.btn.btn-filter .btn-text {
  padding: 0 1.75em;
}

.btn.btn-filter .btn-fill {
  border: 1.5px solid rgba(var(--color-dark-rgb), 0.3)
}

.btn.btn-filter .btn-text span {
  font-size: 1.5em;
  font-weight: 450;
  text-transform: none;
  transform: translateY(-2.5%);
}

.btn.btn-filter.active .btn-original-fill,
.btn.btn-filter.active .btn-original-text {
  opacity: 0;
}

.btn.btn-filter.active .btn-duplicate-fill {
  background-color: var(--color-dark);
  border: 0;
}

.btn.btn-filter.btn-negative.active .btn-duplicate-fill {
  background-color: transparent;
  border: 1.5px solid var(--color-primary);
}

.btn.btn-filter.btn-negative .btn-fill {
  border: 1.5px solid rgba(var(--color-light-rgb), 0.3);
}

.btn.btn-filter .btn-duplicate-fill,
.btn.btn-filter.btn-negative .btn-duplicate-fill {
  border: 0;
}

.btn.btn-filter.active .btn-duplicate-text {
  color: var(--color-light);
}

.btn.btn-filter.btn-negative.active .btn-duplicate-text {
  color: var(--color-primary);
}

.btn.btn-filter .btn-text span {
  transition: color 0s linear;
}

@media screen and (max-width: 540px) {

  .btn.btn-filter .btn-click {
     height: 3em;
  }
  .btn.btn-filter .btn-text span {
     font-size: 4.9vw;
  }

  .btn.btn-filter .btn-text {
     padding: 0 5vw;
  }
}



  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 0 46.5% 41.6%; /* #9A3B3B */
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 20 41.5% 57.8%; /* #C08261 */
    --secondary-foreground: 0 0% 100%;
    --muted: 40 62.2% 74.3%; /* #E2C799 */
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 49 67.4% 84.9%; /* #F2ECBE */
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}
